@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* font weights */
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* colors */
    --color-white: hsl(0, 0%, 100%);
    --color-light-pink: hsl(275, 100%, 97%);
    --color-violet: hsl(281, 83%, 54%);
    --color-grayish-purple: hsl(292, 16%, 49%);
    --color-dark-purple: hsl(292, 42%, 14%);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 3rem;
    font-weight: var(--font-weight-bold);
}

button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

body {
    font-size: 1.6rem;
    font-family: "Work sans", sans-serif;
    line-height: 1.25;
    background-color: var(--color-light-pink);
    background-image: url('images/background-pattern-mobile.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#faq-section {
    background-color: var(--color-white);
    max-width: 330px;
    border-radius: 1rem;
    padding: 20px;
    margin: 100px auto;
}

.faq-section-title {
    color: var(--color-dark-purple);
    display: flex;
    align-items: center;
    gap: 20px;
}

.faq-section-title::before {
    content: url('images/icon-star.svg');
    scale: 0.5;
}

.qa-group {
    border-bottom: 1px solid var(--color-light-pink);
}

.qa-group:last-child {
    border: none;
}

.question-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    width: 100%;
    font-weight: var(--font-weight-semi-bold);
    padding-block: 25px;
    background-color: transparent;
    text-align: start;
}

.question-btn::after {
    content: url('images/icon-plus.svg');
}

.question.active>.question-btn::after {
    content: url('images/icon-minus.svg');
}

.answer {
    color: var(--color-grayish-purple);
    display: none;
    padding-bottom: 25px;
}

.question.active+.answer {
    display: block;
}

/* Large screens ================ */
@media (min-width: 768px) {
    body {
        background-image: url('images/background-pattern-desktop.svg');
    }

    #faq-section {
        max-width: 600px;
        padding: 30px;
    }
}