@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* font weights */
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* colors */
    --color-white: hsl(0, 0%, 100%);
    --color-light-pink: hsl(275, 100%, 97%);
    --color-grayish-purple: hsl(292, 16%, 49%);
    --color-dark-purple: hsl(292, 42%, 14%);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 3rem;
}

button {
    font-family: inherit;
}

img {
    display: block;
}

body {
    font-size: 1.6rem;
    font-family: "Work sans", sans-serif;
    line-height: 1.25;
    background-color: var(--color-light-pink);
    background-image: url('images/background-pattern-mobile.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Large screens ================ */
@media (min-width: 720px) {
    body {
        background-image: url('images/background-pattern-desktop.svg');
    }
}